# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8
innodb_use_native_aio=0
# loose-default-authentication-plugin=mysql_native_password
# 开启慢查询日志
slow_query_log = 1
# 慢查询日志文件路径
slow_query_log_file = /var/log/mysql/mysql-slow.log
# 定义查询时间超过多少秒算慢查询，这里设置为 2 秒
long_query_time = 2
# 记录没有使用索引的查询
log_queries_not_using_indexes = 1

[mysqld-8.4]
mysql_native_password=on